@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/MontserratAlternates-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/MontserratAlternates-Regular.ttf);
}
body {
  font-family: "Montserrat-Regular";
}

h2, h3, h4, h5, h6, a, p, span, label, input, textarea, li, ul, ol, button {
  font-family: "Montserrat-Regular";
  line-height: normal;
  font-style: normal;
}

h1 {
  font-family: "Montserrat-SemiBold";
}

h2 {
  font-size: clamp(1.5rem, 1.4238rem + 0.4353vw, 1.75rem) !important;
}

h3 {
  font-size: clamp(1.25rem, 1.1523rem + 0.4353vw, 1.5rem) !important;
}

p, button, a {
  font-size: clamp(0.875rem, 0.8369rem + 0.2176vw, 1rem) !important;
  line-height: 24px;
}

.present .title h1 {
  font-size: clamp(1.5rem, 0.624rem + 5.0054vw, 4.375rem) !important;
}
.present .title p {
  font-size: clamp(0.875rem, 0.8369rem + 0.2176vw, 1rem);
}

h2, h3, h4, h5, h6, a, p, span, label, input, textarea, li, ul, ol {
  color: #fff !important;
}

body {
  background: #000 !important;
}

.btn {
  color: #fff !important;
  background: linear-gradient(138deg, #8D151C -8.41%, #D86B00 105.08%);
}
.btn:hover {
  -webkit-box-shadow: 4px 4px 20px 2px #8D151C;
          box-shadow: 4px 4px 20px 2px #8D151C;
}

.btn.btn-second {
  color: #fff !important;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(138deg, #8D151C -8.41%, #D86B00 105.08%) border-box !important;
  border: 2px solid transparent !important;
}
.btn.btn-second::before {
  background: linear-gradient(138deg, #8D151C -8.41%, #D86B00 105.08%) border-box, linear-gradient(138deg, #8D151C -8.41%, #D86B00 105.08%) border-box !important;
}
.btn.btn-second:hover {
  -webkit-box-shadow: 4px 4px 20px 2px #8D151C;
          box-shadow: 4px 4px 20px 2px #8D151C;
}

.navbar .nav-link {
  color: #fff;
}
.navbar .nav-link:hover {
  color: #fff;
}
.navbar .nav-link::before {
  background: linear-gradient(138deg, #8D151C -8.41%, #D86B00 105.08%);
}
.navbar .social-icon svg {
  fill: #fff;
}

.present .title h1 {
  color: #fff;
}
.present .title p {
  color: #fff;
}
.present .thumb .slider-thumb::before, .present .thumbs .slider-thumb-small::before {
  background: linear-gradient(138deg, #8D151C -8.41%, #D86B00 105.08%);
}

.portfolio .item-portfolio .text-block .btn-block .btn, .about .btn-block .btn, .present .btn-block .btn {
  padding: 0px 30px !important;
  border-radius: 30px !important;
  height: 44px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.portfolio .item-portfolio .text-block .btn-block .btn.btn-second, .present .btn-block .btn.btn-second {
  padding: 0px 27px !important;
  border-radius: 30px !important;
  height: 44px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none !important;
}
.portfolio .item-portfolio .text-block .btn-block .btn.btn-second:focus, .present .btn-block .btn.btn-second:focus {
  outline: 2px solid transparent;
}
.portfolio .item-portfolio .text-block .btn-block .btn.btn-second::before, .present .btn-block .btn.btn-second::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 110%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.portfolio .item-portfolio .text-block .btn-block .btn.btn-second:hover::before, .present .btn-block .btn.btn-second:hover::before {
  right: 0;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.portfolio .item-portfolio .text-block .btn-block .btn.btn-second:hover, .present .btn-block .btn.btn-second:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.present .thumbs .slider-thumb-small:last-child::before, .present .thumbs .slider-thumb-small:nth-child(2)::before, .present .thumbs .slider-thumb-small:first-child::before, .present .thumb .slider-thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  will-change: border-radius, transform, opacity;
  display: block;
  z-index: -1;
  margin: auto !important;
  -webkit-animation: sliderShape 5s linear infinite;
          animation: sliderShape 5s linear infinite;
}

@-webkit-keyframes gradient {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.present, .about, .portfolio, .skills {
  margin: 120px 0;
}

header {
  margin-top: 20px;
}
header .navbar .navbar-brand {
  max-height: 43px;
  height: 100%;
  width: 52px;
  max-width: 100%;
}
header .navbar .nav-item {
  margin: 0 30px;
}
header .navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  top: 30px !important;
}
header .navbar .nav-item .nav-link:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
header .navbar .social-icon svg {
  margin: 0px 15px;
  width: 20px;
  height: 20px;
}

.present .title p {
  margin: 40px 0 !important;
}
.present .thumb {
  height: 270px;
}
@media screen and (max-width: 1199px) {
  .present .thumb {
    height: 220px;
  }
}
@media screen and (max-width: 991px) {
  .present .thumb {
    height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .present .thumb {
    height: 300px;
  }
}
.present .thumb .slider-thumb::before {
  left: 0;
  right: 0;
  top: 0;
  max-width: 270px;
  max-height: 270px;
  border-radius: 62% 47% 82% 35%/45% 45% 80% 66%;
  -webkit-animation: sliderShape 5s linear infinite, gradient 20s linear infinite;
}
@-webkit-keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
@keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
.present .thumbs {
  height: 15px;
}
.present .thumbs .slider-thumb-small:first-child::before {
  right: 20%;
  top: 0;
  max-width: 15px;
  max-height: 15px;
  border-radius: 50% !important;
  -webkit-animation: gradient 5s linear infinite, slideUpDown 5s ease infinite;
}
@media screen and (max-width: 991px) {
  .present .thumbs .slider-thumb-small:first-child::before {
    right: 0;
  }
}
.present .thumbs .slider-thumb-small:nth-child(2)::before {
  left: -5%;
  top: 0;
  max-width: 15px;
  max-height: 15px;
  border-radius: 50% !important;
  -webkit-animation: gradient 7s linear infinite, slideUpDown 6s ease infinite;
}
@media screen and (max-width: 1016px) {
  .present .thumbs .slider-thumb-small:nth-child(2)::before {
    left: -3%;
  }
}
@media screen and (max-width: 575px) {
  .present .thumbs .slider-thumb-small:nth-child(2)::before {
    left: -1.3%;
  }
}
.present .thumbs .slider-thumb-small:last-child::before {
  right: 38%;
  bottom: 0;
  max-width: 15px;
  max-height: 15px;
  border-radius: 50% !important;
  -webkit-animation: gradient 9s linear infinite, slideUpDown 7s ease infinite;
}
@media screen and (max-width: 1016px) {
  .present .thumbs .slider-thumb-small:last-child::before {
    right: 20%;
  }
}
@media screen and (max-width: 1016px) {
  .present .thumbs .slider-thumb-small:last-child::before {
    bottom: -5%;
  }
}

.about .title h2 {
  margin-bottom: 40px !important;
}
.about .text-block p {
  margin-bottom: 50px !important;
}
.about .img-block img {
  max-height: 396px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .title h2 {
  margin-bottom: 60px !important;
}
.portfolio .item-portfolio {
  margin-bottom: 50px;
}
.portfolio .item-portfolio .img-block {
  margin-bottom: 30px;
}
.portfolio .item-portfolio .img-block img {
  max-height: 287px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 30px;
}
.portfolio .item-portfolio .text-block h3 {
  margin-bottom: 25px !important;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.portfolio .item-portfolio .text-block p {
  margin-bottom: 40px !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.skills .title h2 {
  margin-bottom: 60px !important;
}